* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: #fffaf5;
}

/* Commons */
.section-heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: ease-in-out 0.25s;
}

.btn:hover {
    background-color: #000958;
    color: #fff;
    cursor: pointer;
}

.btn--primary {
    color: #FFF;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sora", sans-serif;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link, 
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__link:hover {
    text-decoration: underline;
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;

    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -45px;
} 

.hero__img-wrap-small {
    align-self: flex-end;
    margin: 0 0 -60px -22px;
    width: 185px;
    height: 245px;
    background: #FAA7AD;
    border: 2px solid #f7dddf;
}

/* Hero list */
.hero__list {
    position: absolute;
    bottom: 0;
    left: 130px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}

.hero-list-item:nth-child(1) .hero-list-item__thumb {
    background: #FEC23F;
}

.hero-list-item:nth-child(2) .hero-list-item__thumb {
    background: #C6E2FA;
}

.hero-list-item__info {
    margin-left: 10px;
    color: #181E52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 7px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #F2F2F2;
    border-radius: 99px;
}

/* Hero Content */
.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-btn:hover {
    opacity: 0.9;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496A;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../icon/Vector.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; 
}

.about__card-decor {
    position: absolute;
    top: -40px;
    right: -30px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    height: 336px;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 150px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__media-decor-cir {
    position: absolute;
    bottom: -10px;
    right: 47px;
}

.about__media-decor-rec {
    position: absolute;
    top: 268px;
    right: 55px;
}

.about__media-decor-vec9 {
    position: absolute;
    top: 33px;
    right: 70px;
}

.about__media-decor-vec8 {
    position: absolute;
    top: -16px;
    right: 100px;
}

.about__media-decor-vec10 {
    position: absolute;
    top: 13px;
    right: 150px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #FF5B2E;
    border-radius: 1px;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496A;
    font-family: Sora;
    font-size: 1,8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    color: #FF5D31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;  
}

.tab__content-more::after {
    width: 86px;
    opacity: 1;
}

/* Services */
.service {
    margin-top: 185px;
    padding-top: 68px;
    padding-bottom: 100px;
    background: #FFF6ED;
}

.service__label {
    color: #5E6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__heading {
    margin-top: 15px;
    text-align: center;
}

.service__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 70px;
}

.service__item + .service__item {
    margin-top: 24px;
}

.service__item {
    width: 295px;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service-item__heading {
    position: relative;
    padding-left: 22px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 22px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.service-item__more {
    position: relative;
    display: inline-block;
    margin-top: 24px;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service-item__more::after {
    position: absolute;
    content: url(../icon/arrowUpRight.svg);
    right: -20px;
}

.service__media {
    margin-top: 18px;
    position: relative;
}

.service__media::after {
    content: "";
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__img {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    width: 214px;
    background: transparent;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
}

.service__cta:hover {
    background: var(--primary-color);
    color: #F2F2F2;
}

/* Groomer */
.groomer {
    margin-top: 130px;
}

.groomer__label {
    color: #5E6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.groomer__heading {
    margin-top: 15px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.groomer__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.groomer__wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.groomer__wrap::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 266px;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
    z-index: -1;
} 

.groomer__item:nth-child(2) .groomer__wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.groomer__item:nth-child(3) .groomer__wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.groomer__item:nth-child(4) .groomer__wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.groomer__wrap::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.groomer__item:nth-child(1) .groomer__wrap::after {
    content: url(../icon/groomer-decor-1.svg);
}

.groomer__item:nth-child(2) .groomer__wrap::after {
    content: url(../icon/groomer-decor-2.svg);
    top: 20px;
}

.groomer__item:nth-child(3) .groomer__wrap::after {
    content: url(../icon/groomer-decor-3.svg);
}

.groomer__item:nth-child(4) .groomer__wrap::after {
    content: url(../icon/groomer-decor-4.svg);
    top: 20px;
}

.groomer__img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: inherit;
    z-index: 1;
}

.groomer__desc {
    margin-top: 30px;
    color: #656689;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.groomer__name {
    margin-top: 15px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; 
}

.groomer__cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.groomer__btn {
    width: 193px;
    height: 56px;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid #FF5B2E;
}

.groomer__btn:hover {
    background: var(--primary-color);
    color: #F2F2F2;
}

/* Stats */
.stats {
    margin-top: 130px;
    background: #FFF6ED;
    padding: 86px 0;
}

.stats__heading {
    text-align: center;
}

.stats__desc {
    margin: 15px auto 0 auto;
    text-align: center;
    width: 709px;
}

.stats__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.stats__switch-inner {
    position: relative;
}

.stats__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    user-select: none;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    cursor: pointer;
}

.stats__switch-label::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 147px;
    height: 100%;
    border-radius: inherit;
    background: #FF5B2E;
}

.stats__switch-value {
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
}

.stats__switch-input:checked + .stats__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}

.stats__switch-input:checked + .stats__switch-label .stats__switch-value:nth-of-type(1) {
    color: var(--primary-color);
}

.stats__switch-input:not(:checked) + .stats__switch-label .stats__switch-value:nth-of-type(2) {
    color: var(--primary-color);
}

.stats__sales-off {
    position: absolute;
    top: -15px;
    right: -110px;
}

.stats__list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}

.stats-item {
    padding: 30px 0 43px 30px;
    width: 302px;
    border-radius: 20px;
    background: #FFF;
}

.stats-item__active {
    box-shadow: 0 20px 44px 0 rgba(195, 108, 22, 0.06);
}

.stats-item__package {
    color: #FF5B2E;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.stats-item__title {
    margin-top: 10px;
    color: #3F4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.stats-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1; 
}

.stats-item__cta {
    margin-top: 24px;
    width: 246px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    background: transparent;
    color: var(--primary-color);
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    transition: ease-in-out 0.5s;
}

.stats-item__cta:hover {
    background: var(--primary-color);
    color: #FFF;
}

.stats-item__list {
    margin-top: 24px;
}

.stats-item__item {
    display: flex;
    margin-top: 18px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.stats-item__item::before {
    content: url(../icon/Check.svg);
    margin-right: 14px;
}

/* Reviews */
.reviews {
    padding: 105px 0 55px;
}

.reviews__inner {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.reviews__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: transparent;
    color: var(--primary-color);
    border-radius: 50%;
    border: 1.5px solid #FFD1C4;
    flex-shrink: 0;
    cursor: pointer;
}

.reviews__control:hover {
    background: var(--primary-color);
    color: #FFF;
    border-color: var(--primary-color);
}

.reviews__control:nth-of-type(2) {
    margin-left: auto;
}

.review__content {
    overflow: hidden;
}

.reviews__list {
    display: flex;
}

.reviews-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.reviews-item__media {
    margin-top: -50px;
    position: relative;
    width: 275px;
    flex-shrink: 0;
    border-radius: 137px;
}

.reviews-item__media::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    background: #FFDA54;
    border-radius: inherit;
}

.reviews-item__content {
    margin-top: 28px;
}

.reviews-item__img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: inherit;
    z-index: 1;
}

.reviews-item__quote {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56; 
}

.reviews-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.reviews-item__author::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 2px;
    margin-right: 10px;
    background: #000;
    border-radius: 99px;
}

.reviews__dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.reviews__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.reviews__dot:hover {
    background: var(--primary-color);
}

.reviews__dot--active {
    width: 24px;
    background: var(--primary-color);
}

/* Blog */
.blog {
    margin-top: 95px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__info {
    margin-right: 74px;
}

.blog__desc {
    margin-top: 0;
    width: 350px;
}

.blog__cta {
    margin-top: 24px;
    width: 180px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.blog__cta:hover {
    color: #fffaf5;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog-item__img-wrap {
    padding: 24px 0 0 36px;
    border-radius: 24px;
    background: #90CCFF;
}

.blog-item:nth-of-type(2) .blog-item__img-wrap {
    background: #FF997E;
}

.blog-item:nth-of-type(3) .blog-item__img-wrap {
    background: #5BD6E2;
}

.blog-item__time {
    color: #FFF;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
}

.blog-item__img {
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog-item__info {
    padding: 28px 5px 0 0;
}

.blog-item__title {
    display: block;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.55;
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}